In [1]:
import os
import glob
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np
import random
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import pprint
import pyspark
import pyspark.sql.functions as F

from pyspark.sql.functions import col
from pyspark.sql.types import StringType, IntegerType, FloatType, DateType

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import make_scorer, f1_score, roc_auc_score
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

In [2]:
# Build a .py script that takes a snapshot date, trains a model and outputs artefact into storage.

## set up pyspark session

In [3]:
# Initialize SparkSession
spark = pyspark.sql.SparkSession.builder \
    .appName("dev") \
    .master("local[*]") \
    .getOrCreate()

# Set log level to ERROR to hide warnings
spark.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/07 13:21:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/07 13:21:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## set up config

In [4]:
# set up config
model_train_date_str = "2024-09-01"
train_test_period_months = 12
oot_period_months = 2
train_test_ratio = 0.8

config = {}
config["model_train_date_str"] = model_train_date_str
config["train_test_period_months"] = train_test_period_months
config["oot_period_months"] =  oot_period_months
config["model_train_date"] =  datetime.strptime(model_train_date_str, "%Y-%m-%d")
config["oot_end_date"] =  config['model_train_date'] - timedelta(days = 1)
config["oot_start_date"] =  config['model_train_date'] - relativedelta(months = oot_period_months)
config["train_test_end_date"] =  config["oot_start_date"] - timedelta(days = 1)
config["train_test_start_date"] =  config["oot_start_date"] - relativedelta(months = train_test_period_months)
config["train_test_ratio"] = train_test_ratio 


pprint.pprint(config)

{'model_train_date': datetime.datetime(2024, 9, 1, 0, 0),
 'model_train_date_str': '2024-09-01',
 'oot_end_date': datetime.datetime(2024, 8, 31, 0, 0),
 'oot_period_months': 2,
 'oot_start_date': datetime.datetime(2024, 7, 1, 0, 0),
 'train_test_end_date': datetime.datetime(2024, 6, 30, 0, 0),
 'train_test_period_months': 12,
 'train_test_ratio': 0.8,
 'train_test_start_date': datetime.datetime(2023, 7, 1, 0, 0)}

## get label store

In [5]:
# connect to label store
folder_path = "datamart/gold/label_store/"
files_list = [folder_path+os.path.basename(f) for f in glob.glob(os.path.join(folder_path, '*'))]
label_store_sdf = spark.read.option("header", "true").parquet(*files_list)
print("row_count:",label_store_sdf.count())

label_store_sdf.show()

row_count: 8974
+--------------------+-----------+-----+----------+-------------+
|             loan_id|Customer_ID|label| label_def|snapshot_date|
+--------------------+-----------+-----+----------+-------------+
|CUS_0x1037_2023_0...| CUS_0x1037|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1069_2023_0...| CUS_0x1069|    0|30dpd_6mob|   2023-07-01|
|CUS_0x114a_2023_0...| CUS_0x114a|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1184_2023_0...| CUS_0x1184|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1297_2023_0...| CUS_0x1297|    1|30dpd_6mob|   2023-07-01|
|CUS_0x12fb_2023_0...| CUS_0x12fb|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1325_2023_0...| CUS_0x1325|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1341_2023_0...| CUS_0x1341|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1375_2023_0...| CUS_0x1375|    1|30dpd_6mob|   2023-07-01|
|CUS_0x13a8_2023_0...| CUS_0x13a8|    0|30dpd_6mob|   2023-07-01|
|CUS_0x13ef_2023_0...| CUS_0x13ef|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1440_2023_0...| CUS_0x1440|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1443_2023_0...| CUS_0x1443|    0|30dpd_6mob|   2023-07-01|
|CUS_0x145a_2023_0...| CUS_0x145a|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1492_2023_0...| CUS_0x1492|    0|30dpd_6mob|   2023-07-01|
|CUS_0x153d_2023_0...| CUS_0x153d|    0|30dpd_6mob|   2023-07-01|
|CUS_0x1567_2023_0...| CUS_0x1567|    0|30dpd_6mob|   2023-07-01|
|CUS_0x15ad_2023_0...| CUS_0x15ad|    1|30dpd_6mob|   2023-07-01|
|CUS_0x1630_2023_0...| CUS_0x1630|    1|30dpd_6mob|   2023-07-01|
|CUS_0x169c_2023_0...| CUS_0x169c|    0|30dpd_6mob|   2023-07-01|
+--------------------+-----------+-----+----------+-------------+
only showing top 20 rows

In [6]:
# extract label store
labels_sdf = label_store_sdf.filter((col("snapshot_date") >= config["train_test_start_date"]) & (col("snapshot_date") <= config["oot_end_date"]))

print("extracted labels_sdf", labels_sdf.count(), config["train_test_start_date"], config["oot_end_date"])

extracted labels_sdf 6961 2023-07-01 00:00:00 2024-08-31 00:00:00

## get features

In [7]:
feature_location = "data/feature_clickstream.csv"

# Load CSV into DataFrame - connect to feature store
features_store_sdf = spark.read.csv(feature_location, header=True, inferSchema=True)
print("row_count:",features_store_sdf.count())

features_store_sdf.show()

row_count: 215376
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|-108| 182| 123|   4| -56|  27|  25|  -6| 284|  222|  203|  190|  -14|  -96|  200|   35|  130|   94|  111|   75| CUS_0x1069|   2023-01-01|
| -13|   8|  87| 166| 214| -98| 215| 152| 129|  139|   14|  203|   26|   86|  171|  125| -130|  354|   17|  302| CUS_0x114a|   2023-01-01|
| -85|  45| 200|  89| 128|  54|  76|  51|  61|  139|    6|  197|  172|   96|  174|  163|   37|  207|  180|  118| CUS_0x1184|   2023-01-01|
|  55| 120| 226| -86| 253|  97| 107|  68| 103|  126|   34|   12|   76|   43|  183|  159|  -26|  104|  118|  184| CUS_0x1297|   2023-01-01|
|-133| 114| 138|  84|  53| -60|  60| 128| 349|  102|  -70| -138|  200|  168|   32|  -85|   91|  185|  134|  -28| CUS_0x12fb|   2023-01-01|
|  67| 155|  24| -16| 205|  80| 355| 140| 201|   87|  130|   86|   71|   72|   78|  238|   96|  147|   51|  155| CUS_0x1325|   2023-01-01|
| -64|  93|  36|  -1|   3| 183|-129| 122| 164|  138|   60|  140|  143|   90|  354|  280|  121|  159|  -81|  -27| CUS_0x1341|   2023-01-01|
| 167|  37| 169| 155|   4| 151|  99| 192| -64| -207|   63|  241|  167|   43|  216|  287|  115|  183|   66|   55| CUS_0x1375|   2023-01-01|
| 356| -23|  -4| -46|  80| 167| 258| 174| 104|   65|  133|  -75|  145|  211|  140|  113|   31|  136|   36|  125| CUS_0x13a8|   2023-01-01|
| 100|  35|  58| -18|  69|  66| 136|  65| 265|   18|  148|   -8|   -1|  217|   73|  102|   54|  -74|  150|  147| CUS_0x13ef|   2023-01-01|
| 148| -15|  40|  40|  54|-147|  85| 339|  50|   96|  149|   97|   12|  337|  145|   85|   39|  -86|  313|  225| CUS_0x1440|   2023-01-01|
| 127|  90| -98| 200| -34| 178|  -6| 107|  25|   40|  -33|  114|  167|   36|  183|  170|  -72|  114|  -37|  283| CUS_0x1443|   2023-01-01|
| 123| 256| 187|  29| 193| 138| 183| 185| 291|   97|   38|   38|   99|  -61|  242| -168|   54|  147|  183|  157| CUS_0x145a|   2023-01-01|
| 115|  99| -27|  18| 135| -18| 294| 184| 230|  -69|  -80|   50|  155|  136|   54|  152|  182|   85| -136|  254| CUS_0x1492|   2023-01-01|
| 101|  58|  19| 167| -87|  73| 336| 114| 169|   38|  -48|  224|   22|   54|  146|  260| -180|  241|  144|   78| CUS_0x153d|   2023-01-01|
| -97|-106|  78| 185|  45|  20| 155| -61| 168|  101|   88|  278|  217|  123|  125|  308|   78|  -32|  198|  106| CUS_0x1567|   2023-01-01|
| 303|  78| 139| 239|  29| 151|  -1| 165| 110|  307|   82|  211|   77|  149|  -46|  210|  199|  199|  150|  269| CUS_0x15ad|   2023-01-01|
| 153| 135|  73| 188| 209| 171| 143|  51| 137|  359|  113|  159|   10|  262|  181|   -7|  232|  -84|  116|   60| CUS_0x1630|   2023-01-01|
| 146|  84| 195| 269| 135| 108| 125| 177|  94|  371|  168|  140|  196|   86|   53|  150|  222|  250|  146|  -83| CUS_0x169c|   2023-01-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 20 rows

In [8]:
# extract label store
features_sdf = features_store_sdf.filter((col("snapshot_date") >= config["train_test_start_date"]) & (col("snapshot_date") <= config["oot_end_date"]))

print("extracted features_sdf", features_sdf.count(), config["train_test_start_date"], config["oot_end_date"])

extracted features_sdf 125636 2023-07-01 00:00:00 2024-08-31 00:00:00

## prepare data for modeling

In [9]:
# prepare data for modeling
data_pdf = labels_sdf.join(features_sdf, on=["Customer_ID", "snapshot_date"], how="left").toPandas()
data_pdf

,Customer_ID,snapshot_date,loan_id,label,label_def,fe_1,fe_2,fe_3,fe_4,fe_5,...,fe_11,fe_12,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20
0,CUS_0x1015,2024-02-01,CUS_0x1015_2023_08_01,0,30dpd_6mob,-22,128,252,-46,71,...,153,208,-34,9,112,198,29,113,37,-61
1,CUS_0x10eb,2023-09-01,CUS_0x10eb_2023_03_01,0,30dpd_6mob,-26,83,100,16,-23,...,276,124,166,175,-164,277,-18,239,45,-37
2,CUS_0x112f,2024-04-01,CUS_0x112f_2023_10_01,1,30dpd_6mob,222,175,140,116,-63,...,82,196,230,-24,-87,-33,167,206,91,116
3,CUS_0x117d,2024-03-01,CUS_0x117d_2023_09_01,0,30dpd_6mob,0,90,-209,-30,253,...,60,35,245,348,81,99,-123,109,270,159
4,CUS_0x1192,2023-11-01,CUS_0x1192_2023_05_01,0,30dpd_6mob,60,241,110,-185,166,...,145,202,-64,-53,71,95,122,-3,123,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6956,CUS_0xfa4,2024-08-01,CUS_0xfa4_2024_02_01,1,30dpd_6mob,148,192,122,120,81,...,116,318,132,125,58,170,164,-36,195,131
6957,CUS_0xfaa,2024-01-01,CUS_0xfaa_2023_07_01,0,30dpd_6mob,42,19,170,58,118,...,232,156,39,102,247,221,210,142,138,2
6958,CUS_0xfb4,2024-06-01,CUS_0xfb4_2023_12_01,0,30dpd_6mob,182,148,-36,151,5,...,71,254,107,155,53,120,103,246,99,-31
6959,CUS_0xfc9,2023-07-01,CUS_0xfc9_2023_01_01,1,30dpd_6mob,258,-13,189,58,147,...,-40,175,47,69,-85,176,13,-1,96,-14
6960,CUS_0xfea,2024-04-01,CUS_0xfea_2023_10_01,0,30dpd_6mob,124,91,112,64,128,...,165,5,142,9,104,121,57,52,6,124

In [10]:
# split data into train - test - oot
oot_pdf = data_pdf[(data_pdf['snapshot_date'] >= config["oot_start_date"].date()) & (data_pdf['snapshot_date'] <= config["oot_end_date"].date())]
train_test_pdf = data_pdf[(data_pdf['snapshot_date'] >= config["train_test_start_date"].date()) & (data_pdf['snapshot_date'] <= config["train_test_end_date"].date())]

feature_cols = [fe_col for fe_col in data_pdf.columns if fe_col.startswith('fe_')]

X_oot = oot_pdf[feature_cols]
y_oot = oot_pdf["label"]
X_train, X_test, y_train, y_test = train_test_split(
    train_test_pdf[feature_cols], train_test_pdf["label"], 
    test_size= 1 - config["train_test_ratio"],
    random_state=88,     # Ensures reproducibility
    shuffle=True,        # Shuffle the data before splitting
    stratify=train_test_pdf["label"]           # Stratify based on the label column
)


print('X_train', X_train.shape[0])
print('X_test', X_test.shape[0])
print('X_oot', X_oot.shape[0])
print('y_train', y_train.shape[0], round(y_train.mean(),2))
print('y_test', y_test.shape[0], round(y_test.mean(),2))
print('y_oot', y_oot.shape[0], round(y_oot.mean(),2))

X_train

X_train 4766
X_test 1192
X_oot 1003
y_train 4766 0.28
y_test 1192 0.28
y_oot 1003 0.29

,fe_1,fe_2,fe_3,fe_4,fe_5,fe_6,fe_7,fe_8,fe_9,fe_10,fe_11,fe_12,fe_13,fe_14,fe_15,fe_16,fe_17,fe_18,fe_19,fe_20
165,114,124,-26,53,195,94,191,241,212,191,111,-39,22,230,131,-66,105,205,294,165
4206,-13,120,60,5,85,127,284,34,14,183,4,-36,213,122,73,266,164,-106,-50,71
3396,276,118,208,188,226,-102,2,130,24,232,134,74,223,-20,188,1,93,95,62,165
514,318,200,187,29,225,229,-11,60,231,69,157,-16,-19,70,59,22,97,15,78,-65
4246,104,51,101,74,343,232,46,-54,63,213,149,89,213,12,116,45,215,185,25,146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,298,42,-40,-3,89,100,159,-43,105,204,35,87,186,401,-41,138,222,129,83,94
4284,87,174,398,107,-105,180,111,379,251,208,-2,99,302,103,-98,171,227,255,184,103
2122,17,31,263,113,80,22,97,100,-42,216,79,-24,80,244,7,57,191,66,85,2
6301,187,194,81,150,69,67,301,178,48,178,442,95,86,182,94,262,153,108,99,103
5937,232,188,179,258,104,221,158,264,111,99,112,-28,137,27,91,210,6,-42,140,168

## preprocess data

In [11]:
# set up standard scalar preprocessing
scaler = StandardScaler()

transformer_stdscaler = scaler.fit(X_train) # Q which should we use? train? test? oot? all?

# transform data
X_train_processed = transformer_stdscaler.transform(X_train)
X_test_processed = transformer_stdscaler.transform(X_test)
X_oot_processed = transformer_stdscaler.transform(X_oot)

print('X_train_processed', X_train_processed.shape[0])
print('X_test_processed', X_test_processed.shape[0])
print('X_oot_processed', X_oot_processed.shape[0])

pd.DataFrame(X_train_processed)

X_train_processed 4766
X_test_processed 1192
X_oot_processed 1003

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.125425,0.226149,-1.346260,-0.501195,0.869737,-0.087871,0.835988,1.279587,0.996951,0.719676,0.105273,-1.387648,-0.773237,1.263793,0.312489,-1.667538,0.017755,0.999063,1.866963,0.644934
1,-1.143862,0.186188,-0.474974,-0.978481,-0.217981,0.239761,1.758178,-0.785335,-1.018837,0.640189,-0.951918,-1.357566,1.111937,0.188162,-0.265328,1.630681,0.589565,-2.003823,-1.477186,-0.261295
2,1.744515,0.166207,1.024450,0.841172,1.176276,-2.033804,-1.038141,0.172310,-0.917030,1.127050,0.332519,-0.254554,1.210637,-1.226095,0.880345,-1.001934,-0.098546,-0.063051,-0.388394,0.644934
3,2.164280,0.985406,0.811694,-0.739838,1.166388,1.252440,-1.167049,-0.525973,1.190385,-0.492509,0.559766,-1.157019,-1.177908,-0.329735,-0.404801,-0.793311,-0.059779,-0.835498,-0.232852,-1.572436
4,0.025481,-0.503137,-0.059593,-0.292383,2.333213,1.282225,-0.601836,-1.663176,-0.519981,0.938267,0.480724,-0.104143,1.111937,-0.907389,0.163054,-0.564820,1.083841,0.805952,-0.748084,0.461760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4761,1.964392,-0.593049,-1.488098,-1.058029,-0.178428,-0.028301,0.518675,-1.553446,-0.092389,0.848844,-0.645629,-0.124198,0.845446,2.966877,-1.401039,0.359079,1.151683,0.265239,-0.184245,-0.039558
4762,-0.144424,0.725660,2.949385,0.035751,-2.096768,0.765957,0.042706,2.656202,1.394000,0.888587,-1.011199,-0.003869,1.990369,-0.001070,-1.968894,0.686914,1.200142,1.481842,0.797613,0.047208
4763,-0.844031,-0.702942,1.581668,0.095412,-0.267423,-0.802703,-0.096118,-0.126954,-1.588959,0.968075,-0.210896,-1.237238,-0.200776,1.403227,-0.922845,-0.445608,0.851240,-0.343063,-0.164802,-0.926506
4764,0.855015,0.925464,-0.262218,0.463320,-0.376195,-0.355933,1.926751,0.651133,-0.672692,0.590509,3.375647,-0.043979,-0.141556,0.785735,-0.056118,1.590944,0.482956,0.062472,-0.028703,0.047208
4765,1.304762,0.865523,0.730644,1.537214,-0.030103,1.173014,0.508759,1.509023,-0.031305,-0.194431,0.115153,-1.277347,0.361815,-0.757996,-0.086005,1.074355,-0.941723,-1.385866,0.369873,0.673857

## train model

In [12]:
# Define the XGBoost classifier
xgb_clf = xgb.XGBClassifier(eval_metric='logloss', random_state=88)

# Define the hyperparameter space to search
param_dist = {
    'n_estimators': [25, 50],
    'max_depth': [2, 3],  # lower max_depth to simplify the model
    'learning_rate': [0.01, 0.1],
    'subsample': [0.6, 0.8],
    'colsample_bytree': [0.6, 0.8],
    'gamma': [0, 0.1],
    'min_child_weight': [1, 3, 5],
    'reg_alpha': [0, 0.1, 1],
    'reg_lambda': [1, 1.5, 2]
}

# Create a scorer based on AUC score
auc_scorer = make_scorer(roc_auc_score)

# Set up the random search with cross-validation
random_search = RandomizedSearchCV(
    estimator=xgb_clf,
    param_distributions=param_dist,
    scoring=auc_scorer,
    n_iter=10,  # Number of iterations for random search
    cv=3,       # Number of folds in cross-validation
    verbose=1,
    random_state=42,
    n_jobs=-1   # Use all available cores
)

# Perform the random search
random_search.fit(X_train_processed, y_train)

# Output the best parameters and best score
print("Best parameters found: ", random_search.best_params_)
print("Best AUC score: ", random_search.best_score_)

# Evaluate the model on the train set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_train_processed)[:, 1]
train_auc_score = roc_auc_score(y_train, y_pred_proba)
print("Train AUC score: ", train_auc_score)

# Evaluate the model on the test set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_test_processed)[:, 1]
test_auc_score = roc_auc_score(y_test, y_pred_proba)
print("Test AUC score: ", test_auc_score)

# Evaluate the model on the oot set
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_oot_processed)[:, 1]
oot_auc_score = roc_auc_score(y_oot, y_pred_proba)
print("OOT AUC score: ", oot_auc_score)

print("TRAIN GINI score: ", round(2*train_auc_score-1,3))
print("Test GINI score: ", round(2*test_auc_score-1,3))
print("OOT GINI score: ", round(2*oot_auc_score-1,3))

Fitting 3 folds for each of 10 candidates, totalling 30 fits
Best parameters found:  {'subsample': 0.6, 'reg_lambda': 1, 'reg_alpha': 0, 'n_estimators': 50, 'min_child_weight': 1, 'max_depth': 3, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.8}
Best AUC score:  0.5233061717338746
Train AUC score:  0.7585915970229522
Test AUC score:  0.6142120880837109
OOT AUC score:  0.6129338970616627
TRAIN GINI score:  0.517
Test GINI score:  0.228
OOT GINI score:  0.226

## prepare model artefact to save

In [13]:
model_artefact = {}

model_artefact['model'] = best_model
model_artefact['model_version'] = "credit_model_"+config["model_train_date_str"].replace('-','_')
model_artefact['preprocessing_transformers'] = {}
model_artefact['preprocessing_transformers']['stdscaler'] = transformer_stdscaler
model_artefact['data_dates'] = config
model_artefact['data_stats'] = {}
model_artefact['data_stats']['X_train'] = X_train.shape[0]
model_artefact['data_stats']['X_test'] = X_test.shape[0]
model_artefact['data_stats']['X_oot'] = X_oot.shape[0]
model_artefact['data_stats']['y_train'] = round(y_train.mean(),2)
model_artefact['data_stats']['y_test'] = round(y_test.mean(),2)
model_artefact['data_stats']['y_oot'] = round(y_oot.mean(),2)
model_artefact['results'] = {}
model_artefact['results']['auc_train'] = train_auc_score
model_artefact['results']['auc_test'] = test_auc_score
model_artefact['results']['auc_oot'] = oot_auc_score
model_artefact['results']['gini_train'] = round(2*train_auc_score-1,3)
model_artefact['results']['gini_test'] = round(2*test_auc_score-1,3)
model_artefact['results']['gini_oot'] = round(2*oot_auc_score-1,3)
model_artefact['hp_params'] = random_search.best_params_


pprint.pprint(model_artefact)

{'data_dates': {'model_train_date': datetime.datetime(2024, 9, 1, 0, 0),
                'model_train_date_str': '2024-09-01',
                'oot_end_date': datetime.datetime(2024, 8, 31, 0, 0),
                'oot_period_months': 2,
                'oot_start_date': datetime.datetime(2024, 7, 1, 0, 0),
                'train_test_end_date': datetime.datetime(2024, 6, 30, 0, 0),
                'train_test_period_months': 12,
                'train_test_ratio': 0.8,
                'train_test_start_date': datetime.datetime(2023, 7, 1, 0, 0)},
 'data_stats': {'X_oot': 1003,
                'X_test': 1192,
                'X_train': 4766,
                'y_oot': np.float64(0.29),
                'y_test': np.float64(0.28),
                'y_train': np.float64(0.28)},
 'hp_params': {'colsample_bytree': 0.8,
               'gamma': 0.1,
               'learning_rate': 0.1,
               'max_depth': 3,
               'min_child_weight': 1,
               'n_estimators': 50,
               'reg_alpha': 0,
               'reg_lambda': 1,
               'subsample': 0.6},
 'model': XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, feature_weights=None, gamma=0.1,
              grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=50, n_jobs=None,
              num_parallel_tree=None, ...),
 'model_version': 'credit_model_2024_09_01',
 'preprocessing_transformers': {'stdscaler': StandardScaler()},
 'results': {'auc_oot': np.float64(0.6129338970616627),
             'auc_test': np.float64(0.6142120880837109),
             'auc_train': np.float64(0.7585915970229522),
             'gini_oot': np.float64(0.226),
             'gini_test': np.float64(0.228),
             'gini_train': np.float64(0.517)}}

## save artefact to model bank

In [14]:
# create model_bank dir
model_bank_directory = "model_bank/"

if not os.path.exists(model_bank_directory):
    os.makedirs(model_bank_directory)

In [15]:
# Full path to the file
file_path = os.path.join(model_bank_directory, model_artefact['model_version'] + '.pkl')

# Write the model to a pickle file
with open(file_path, 'wb') as file:
    pickle.dump(model_artefact, file)

print(f"Model saved to {file_path}")

Model saved to model_bank/credit_model_2024_09_01.pkl

## test load pickle and make model inference

In [16]:
# Load the model from the pickle file
with open(file_path, 'rb') as file:
    loaded_model_artefact = pickle.load(file)

y_pred_proba = loaded_model_artefact['model'].predict_proba(X_oot_processed)[:, 1]
oot_auc_score = roc_auc_score(y_oot, y_pred_proba)
print("OOT AUC score: ", oot_auc_score)

print("Model loaded successfully!")

OOT AUC score:  0.6129338970616627
Model loaded successfully!